<div layout="row" layout-padding>
  <div flex="20"></div>
  <form flex="60" name="loginForm" class="md-whiteframe-z2">
    <h3 class="md-display-1">Log in...</h3>
    <md-input-container>
      <label>Username</label>
      <input required name="username" ng-model="credentials.userName">
      <div ng-messages="loginForm.username.$error">
        <div ng-message="required">This is required.</div>
      </div>
    </md-input-container>
    <md-input-container>
      <label>Password</label>
      <input type="password" required name="password" ng-model="credentials.password">
      <div ng-messages="loginForm.password.$error">
        <div ng-message="required">This is required.</div>
      </div>
    </md-input-container>
    <div layout="row">
      <md-button flex type="submit" ng-click="logIn()" class="md-raised">Authenticate</md-button>
    </div>
  </form>
  <div flex="20"></div>
</div>
