<div ng-controller="loginController" class="container">
  <div>
    <form id="login">
      <input type="text" ng-model="credentials.userName" class="form-control" style="width: 300px;" placeholder="Username"/>
      <p></p>
      <input type="password" ng-model="credentials.password" class="form-control" style="width: 300px;" placeholder="Password"/>
      <p></p>
      <button type="submit" ng-click="logIn(user, passwd)" class="btn btn-success">Log In!</button>
      <h3 ng-show="hasError" class="alert-danger form-control" style="width: 300px;">Login incorrect...</h3>
    </form>
  </div>
</div>
