<!-- <md-toolbar>
-    <div class="md-toolbar-tools">
-      <h3>{{person.firstName}}</h3>
-      <h3>{{person.lastName}}</h3>
-      <span flex></span
-      <md-input-container md-no-float>
-        <input ng-model="movieTitle" type="text" placeholder="Search...">
-      </md-input-container>
-
-    </div>
-  </md-toolbar> -->

<md-toolbar>
  <div class="md-toolbar-tools">
    <h3 class="md-display-1">{{person.firstName}} {{person.lastName}}</h3>
  <!-- <div layout="row"> -->
    <span flex></span>
    </div>
    </md-toolbar>
    <md-autocomplete
          md-search-text="movieTitle"
          md-items="movie in queryMovies(movieTitle)"
          md-search-text-change="null"
          md-item-text="movie.Title"
          md-min-length="0"
          placeholder="Search">

    <md-item-template>
      <span md-highlight-text="movie">{{movie.Title}}</span>
    </md-item-template>
  </md-autocomplete>


  <md-content>
    <md-list>
      <md-subheader class="md-no-sticky">Movies</md-subheader>
      <md-list-item class="md-2-line" ng-repeat="movie in seenMovies | filter:movieTitle | orderBy: 'Title'">
        <img ng-src="{{movie.Poster}}" class="md-avatar" alt="{{item.who}}" />
        <div class="md-list-item-text">
          <h3>{{movie.Title}}</h3>
          <p>{{movie.Plot}}</p>
        </div>
      </md-list-item>
      <!-- <md-divider ></md-divider> -->
    </md-list>
  </md-content>
