<!-- <div flex layout="column" class="md-whiteframe-z2"> -->
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h3>{{person.firstName}}</h3>
      <h3>{{person.lastName}}</h3>
      <span flex></span
      <md-input-container md-no-float>
        <input ng-model="movieTitle" type="text" placeholder="Search...">
      </md-input-container>

    </div>
  </md-toolbar>

  <md-list>
    <md-list-item ng-repeat="movie in seenMovies | filter:movieTitle | orderBy: 'Title'">
      <md-card>
        <!-- <img ng-src="{{movie.Poster}}" class="md-card-image" alt="Washed Out"/> -->
        <md-card-content>
          <h2>{{movie.Title}}</h2>
          <p>{{movie.Plot}}</p>
        </md-card-content>
      </md-card>
    </md-list-item>
  </md-list>

  <!-- <md-list>
    <md-list-item ng-repeat="movie in seenMovies | filter:movieTitle | orderBy: 'Title'">
      <md-button>
        <img height=100 ng-src="{{movie.Poster}}"/>
        {{movie.Title}}
      </md-button>
    </md-list-item>
  </md-list> -->
</div>
